.header {
    display: flex;
    align-items: center;
    width: 100vw;
    background: white;
}

.header_menu, .header_buttons {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;   
}

.header_menu a{
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}

.signin, .signup {
    font-size: 12px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    border-radius: 22px;
    padding: 9px 20px 10px 20px;
}

.signin {
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
    background: white;
    padding: 7px 20px 8px 20px;
}

.signup {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    border: none;
    margin: 18px 140px 18px 0px;
}

.main {
    height: 100vh;
    background-image: url("img/image3.png");
    background-size: cover;
}