body {
    margin: 0;
}

.header {
    display: flex;
    background: white;
}

.header_menu, .header_buttons {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: auto;   
}

.logo {
    margin: 15px 0px 15px 140px;
}

.header_menu a{
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}

.signin, .signup {
    font-size: 12px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    border-radius: 22px;
    padding: 9px 20px 10px 20px;
}

.signin {
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
    background: white;
    padding: 7px 20px 8px 20px;
}

.signup {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    border: none;
    margin: 18px 140px 18px 0px;
}

.main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 90vh;
    background-image: url("img/image3.png");
    background-size: cover;
    padding: 70px;
}

.guest-info {
   
    background: white;
    max-width: 380px;
    padding: 40px 30px 30px 30px;
}

.slogan {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
}

.gradient-button {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding: 14px 22px 15px 18px;
}

.find-rooms {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
}

.arrival {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}